dg2/results
run??.m
pbs-script??
experiments/cso-based/cbcc-dg/gcount/*
experiments/cso-based/cbcc-dg/groups/*
experiments/cso-based/cbcc-dg/sols/*
experiments/cso-based/cbcc-dg/trace/*
experiments/sansde-based/cbcc-dg/gcount/*
experiments/sansde-based/cbcc-dg/groups/*
experiments/sansde-based/cbcc-dg/sols/*
experiments/sansde-based/cbcc-dg/trace/*

!experiments/cso-based/cbcc-dg/gcount/.gitkeep
!experiments/cso-based/cbcc-dg/groups/.gitkeep
!experiments/cso-based/cbcc-dg/sols/.gitkeep
!experiments/cso-based/cbcc-dg/trace/.gitkeep
!experiments/sansde-based/cbcc-dg/gcount/.gitkeep
!experiments/sansde-based/cbcc-dg/groups/.gitkeep
!experiments/sansde-based/cbcc-dg/sols/.gitkeep
!experiments/sansde-based/cbcc-dg/trace/.gitkeep
